extends baseEmail

block content

    p Hi #{firstName},
    p Forgot your password? Submit a patch request with your new password and confirm password to: #{url}.
    p Click on the button below or open the link directly to reset your password. PS: Link valid for 15 mins only
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Your Password
    p If you didnt forgot your password, ignore this email.
    p - Shobhit Sahoo, Admin